<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="author" content="Ethan Fast" />
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
        <link rel="shortcut icon" type="image/png" href="/resources/favicon.png">
    </head>
    <div id="content">
        <div id="intro">
            <h1><a href="/">Ethan Fast</a></h1>
            <!-- <image id="profile_img" alt="Ethan giving a talk at an open source meetup in Boston." src="/resources/ethan_prof.jpg"></image> -->
            <div id="mini_bio">
                <p>
                    I'm currently a co-founder at <a href="http://nash.io">Vcreate</a>, where we're engineering T-cell receptors to cure cancer.
                    Previously I co-founded <a href="http://vcreate.io">Nash</a>, a platform for crypto-first banking where I'm still an advisor. 
                    In 2018 I finished my PhD in Computer Science from Stanford, where I studied the intersection of human-computer interaction and
                    machine learning. I founded my first startup in 2011, a web analytics company funded by YC. 
                </p>
            </div>
        </div>
        <div id="links" class="block">
                <div class="link"><a href="/#companies">Companies</a></div>
            <div class="link"><a href="/#research">Research</a></div>
            <div class="link"><a href="/#open_source">Open Source</a></div>
            <div class="link"><a href="/#press">Press</a></div>
            <div class="link"><a href="/#essays">Essays</a></div>
            <div class="link"><a href="/#contact">Contact</a></div>
        </div>
        {{ content }}
        <div id="footer">
            © 2020 - Ethan Fast
        </div>
    </div>
</html>
