<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="author" content="Ethan Fast" />
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
        <link rel="shortcut icon" type="image/png" href="/resources/favicon.png">
    </head>
    <div id="content">
        <div id="intro">
            <h1><a href="/">Ethan Fast</a></h1>
            <!-- <image id="profile_img" alt="Ethan giving a talk at an open source meetup in Boston." src="/resources/ethan_prof.jpg"></image> -->
            <div id="mini_bio">
                <p>
                    I'm currently a co-founder at <a href="http://nash.io">Nash</a>, a non-custodial exchange and asset management platform for cryptocurrencies and other tokens. 
                    I have a PhD in Computer Science from Stanford and have published articles in leading journals and conferences, such as Nature, CHI, EMNLP, and AAAI. 
                    Previously, I co-founded Proxino, a web analytics company funded by Y Combinator. 
                </p>
                <!-- <p>
                    My main professional skillset is on the product side: from communicating and refining a vision to building, shipping, and iterating. 
                    I developed and honed these skills at Nash, Proxino, and across the many user-facing projects I worked on throughout my PhD.
                    I also enjoy working on applied research problems, especially when they enable a product vision, and have experience scaling engineering teams and processes as a company grows.
                </p>       -->
            </div>
        </div>
        <div id="links" class="block">
                <div class="link"><a href="/#companies">Companies</a></div>
            <div class="link"><a href="/#research">Research</a></div>
            <div class="link"><a href="/#open_source">Open Source</a></div>
            <div class="link"><a href="/#press">Press</a></div>
            <div class="link"><a href="/#essays">Essays</a></div>
            <div class="link"><a href="/#contact">Contact</a></div>
        </div>
        {{ content }}
        <div id="footer">
            © 2020 - Ethan Fast
        </div>
    </div>
</html>
